<div class="page-title">
  <h4>О нас</h4>
</div>
<div class="pages">
  <p><b>TerCoContester</b> - это программа для проведения турниров и индивидуального решения задач (тренировок) по спортивному программированию.
  TerCoContester содержит условия задач - от легких до олимпиадных - и возможность проверки решений на большинстве современных языков:
    C++, Object Pascal, Java и языках .NET: C#, J# и Visual Basic и др.</p>
  <p>Авторы - Шоя Владислав Викторович и Якутов Андрей Александрович.</p>
  <p>Большое спасибо за помощь в создании программы:<br>
    Теряеву Дмитрию Валерьевичу, Бужлакову Сергею Николаевичу и
    всем тем, кто ставил задачи, давал советы и тестировал.</p>
  TerCoContester написан на стеке MEAN. В TerCoContester используется сервер базы данных MongoDB.
</div>
