<div class="page-title">
  <h4>Турниры</h4>
  <button class="waves-effect waves-light btn grey darken-1"
  routerLink="/competition/new" *ngIf="user.role">Добавить турнир</button>
</div>
<div class="row" *ngIf="competition$ | async as competitions; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="competitions.length !== 0; else empty">
      <a *ngFor="let competition of competitions"
         [routerLink]="['/competition', competition._id]"
         class="collection-item">{{competition.name}}</a>
    </div>
    <ng-template #empty>
      <div class="center">
        У нас нет ни одного турнира.
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
